Final[[:space:]]Collection.sln filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp.csproj filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
Packages filter=lfs diff=lfs merge=lfs -text
ProjectSettings filter=lfs diff=lfs merge=lfs -text
Real[[:space:]]Final[[:space:]]Capston.sln filter=lfs diff=lfs merge=lfs -text
obj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-Editor.csproj filter=lfs diff=lfs merge=lfs -text
Logs filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.tgr filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.cubemap filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs merge=lfs -text
*.controller filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.cso filter=lfs diff=lfs merge=lfs -text
.pdf filter=lfs diff=lfs merge=lfs -text
.tgr filter=lfs diff=lfs merge=lfs -text
*.ide filter=lfs diff=lfs merge=lfs -text
*.ide-shm filter=lfs diff=lfs merge=lfs -text
*.ide-wal filter=lfs diff=lfs merge=lfs -text
*. filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.graph filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.catalog filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.buildreport filter=lfs diff=lfs merge=lfs -text
*.dwlt filter=lfs diff=lfs merge=lfs -text
Library/Artifacts/00/006fdcbbec25b609749f56eba8a7fe8f filter=lfs diff=lfs merge=lfs -text
Library/Artifacts/0f/0f6730a64c7756121e0cae5fd8bc79a2
 filter=lfs diff=lfs merge=lfs -text
Library/Artifacts/0f/0f6730a64c7756121e0cae5fd8bc79a2 filter=lfs diff=lfs merge=lfs -text
Library/Artifacts/02/02b3c8186d360178928d6930a76ce9c3
 filter=lfs diff=lfs merge=lfs -text
Library/Artifacts/02/02b3c8186d360178928d6930a76ce9c3 filter=lfs diff=lfs merge=lfs -text
Library/Artifacts/3a/3adfdb2804b555a22d911f4bf555353e filter=lfs diff=lfs merge=lfs -text
Library/Artifacts/4b/4b0f1db9e028df9a99d307db4d3bcada filter=lfs diff=lfs merge=lfs -text
Library/Artifacts/4b/4b076214881affbba75a37876ada4859 filter=lfs diff=lfs merge=lfs -text
Library/Artifacts/5b/5bb99a384c67f1794dd24269a43102c1 filter=lfs diff=lfs merge=lfs -text
D:/UnityProject/Real[[:space:]]Final[[:space:]]Capston/Library/Artifacts/3a/3adfdb2804b555a22d911f4bf555353e filter=lfs diff=lfs merge=lfs -text
Library/** filter=lfs diff=lfs merge=lfs -text
Logs/** filter=lfs diff=lfs merge=lfs -text
obj/** filter=lfs diff=lfs merge=lfs -text
Packages/** filter=lfs diff=lfs merge=lfs -text
ProjectSettings/** filter=lfs diff=lfs merge=lfs -text
.vs/** filter=lfs diff=lfs merge=lfs -text
Assets/** filter=lfs diff=lfs merge=lfs -text
*.resS filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
